
#booklist{
	min-width: 80vw;
	max-width: 1080px;
}
#booklist{
	section{
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
	}
}
#endbook{
	color: $versered;
	font-size: 2rem;
	font-weight: 700;
	text-align: center;
}
#menu{
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: space-evenly;
	margin: 0.5rem 0;
}
#menu{
	li{
		width: auto;
		position: relative;
	}
}
#welcome{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
#mainpagecover{
	max-height: $twothirds;
}