
html{
	font-size: 16px;
	font-family: "Times New Roman";
	color: $textcolour;
	background-color: $background;
}
h1{
	font-size: 3rem;
	font-weight: 700;
}
header{
	position: sticky;
	top: 0;
	width: 100%;
	text-align: center;
	padding: 1rem 0 0.1rem 0;
	background-color: $headercolour;
	backdrop-filter: blur(5px);
}
sub, sup{
	font-size: 0.5rem;
}
h2{
	font-weight: 700;
	font-size: 1.5rem;
}
header{
	h2{
		float: none;
		padding:initial;
	}
}
main{
	max-width: 720px;
	margin: auto;
}
p{
	text-indent: 1.5rem;
	text-align: justify;
	overflow-wrap: break-word;
	hyphens: auto;
}
h2 + p {
	text-indent: 0;
}
i{
	font-style: italic;
}
section{
	padding: 0.5rem 0;
}
section{
	div{
		padding: 0.2rem 0
	}
}
ul,
li{
	text-decoration: none;
	text-align: center;
}
nav{
	a{
		display: block;
	}
}
li{
	ul{
		display: block;
		top:1rem;
	}
}
@media screen and (min-width:1080px){
	main{
		max-width: 1080px;
		margin: auto;
	}
}