$background: #181818ff;
$textcolour: #aaaaaaff;
$headercolour: #20202080;
$versered: #ff0000ff;
$third: calc(100% / 3);
$twothirds: calc(100% / 3 * 2);

@font-face {
	font-family: Aegyptus;
	src: url(./fonts/Aegyptus/Aegyptus.ttf);
}