nav #menu li.title:hover ul, header {
  backdrop-filter: blur(5px);
}

#booklist section, nav #menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#welcome {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

html {
  font-size: 16px;
  font-family: "Times New Roman";
  color: #aaaaaa;
  background-color: #181818;
}
html main {
  max-width: 720px;
  margin: auto;
}
html section {
  padding: 0.5rem 0;
}
html section div {
  padding: 0.2rem 0;
}

.item {
  padding: 1rem 0;
}

@media screen and (min-width: 1080px) {
  main {
    max-width: 1080px;
    margin: auto;
  }
}
@font-face {
  font-family: Aegyptus;
  src: url(./fonts/Aegyptus/Aegyptus.ttf);
}
h1 {
  font-size: 3rem;
  font-weight: 700;
}

h2 {
  font-weight: 700;
  font-size: 1.5rem;
}

p {
  text-indent: 1.5rem;
  text-align: justify;
  overflow-wrap: break-word;
  hyphens: auto;
}

h2 + p {
  text-indent: 0;
}

sub,
sup {
  font-size: 0.5rem;
}

i {
  font-style: italic;
}

ul,
li {
  text-decoration: none;
  text-align: center;
}

li ul {
  display: block;
  top: 1rem;
}

.lettrine {
  font-size: 2.5rem;
  padding: 0 0.25rem 0 0;
}

.bold,
.lettrine .verse {
  font-weight: 700;
}

.smallcaps {
  text-transform: uppercase;
  font-size: 0.75rem;
}

.chapter {
  float: left;
}

.verse,
.red {
  color: red;
}

.verse {
  font-size: 0.5rem;
  vertical-align: super;
}

.vertical {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow-wrap: break-word;
}

.vertext {
  writing-mode: vertical-lr;
}

.bigfont {
  font-size: 3rem;
  line-height: 3.5rem;
}

.hieroglyph {
  font-family: Aegyptus;
}

.hieroglyph .verse {
  font-size: 1rem;
  vertical-align: baseline;
}

.quadHor,
.quadVer {
  width: 3rem;
  height: 3rem;
}

.quadVer {
  display: flex;
  flex-direction: row;
}

.quadHor {
  display: flex;
  flex-direction: column-reverse;
}

.halfwidth {
  width: 50%;
}

.halfheight {
  height: 50%;
}

#endbook {
  color: red;
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
}

header {
  position: sticky;
  top: 0;
  width: 100%;
  text-align: center;
  padding: 1rem 0 0.1rem 0;
}
header h2 {
  float: none;
  padding: initial;
}

nav a {
  display: block;
}
nav #menu {
  width: 100%;
  margin: 0.5rem 0;
}
nav #menu li {
  width: auto;
  position: relative;
}
nav #menu li.title {
  display: flex;
  flex-direction: column;
  vertical-align: top;
  margin: 0;
  letter-spacing: normal;
  box-sizing: border-box;
  max-width: 33.3333333333%;
  min-width: 20%;
}
nav #menu li.title ul {
  display: none;
  width: 100%;
  box-sizing: border-box;
  position: absolute;
}
nav #menu li.title ul .roll {
  width: 100%;
}
nav #menu li.title:hover ul {
  display: block;
  text-align: center;
  padding-bottom: 0.25rem;
  border-radius: 0 0 1rem 1rem;
}

.booklist {
  display: flex;
}
.booklist ul {
  display: block;
}
.booklist ul li {
  padding-left: 1rem;
}

#booklist {
  min-width: 80vw;
  max-width: 1080px;
}
#booklist section {
  width: 100%;
}

#welcome {
  flex-wrap: wrap;
}
#welcome img {
  height: 66vh;
}

/*# sourceMappingURL=style.css.map */
