html {
	font-size: 16px;
	font-family: "Times New Roman";
	color: $textcolour;
	background-color: $background;

	main {
		margin: auto;
		box-sizing: border-box;
		padding: 1rem;
	}

	section {
		padding: 0.5rem 0;

		div {
			padding: 0.2rem 0
		}
	}
}

.item {
	padding: 1rem 0;
}

@media screen and (max-width:719px) {
	main {
		width: 100vw;
	}
}

@media screen and (min-width:720px) and (max-width:1097px) {
	main {
		max-width: 720px;
	}
}

@media screen and (min-width:1080px) and (max-width:1919px) {
	main {
		max-width: 1080px;
	}
}

@media screen and (min-width:1920px) {
	main {
		max-width: 1366px;
	}
}